@font-face {
  font-family: customFont;
  src: url('../assets/fonts/DiaryOfAn8BitMage-lYDD.ttf');
}

// variable list
$primary-color: rgb(72, 23, 14);
$secondary-color: #ceb795;
$accent-color: rgb(138, 86, 51);
$highlight-color: rgb(182, 145, 103);
$border-color: $primary-color;
$font-family-main: customFont;

body {
  // border: 2px solid blue;
  background: url('../assets/forest_background.png');  
  background-size: cover;
}

// basic button styles
button {
  cursor: url('../assets/sword_pointer.png'), auto;    
  font-family: $font-family-main;
  
  &:focus {
    background-color: $highlight-color;
  }
}

%button-hover-effect {
  transition: transform 0.3s ease;
  
  &:hover {
    transform: scale(1.1);
  }
}

div > button {
  @extend %button-hover-effect;
}

ul > button {
  @extend %button-hover-effect;
}

// layout containers
.applicationContainer {
  // border: 2px solid red;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 1rem;
}

// title section
#titleContainer {
  // border: 1px solid yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/banner.png');
  background-size: auto;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: 100px;
}
    
#title {
  // border: 2px solid red;
  width: 500px;
  font-family: $font-family-main;
  text-align: center;
  color: $primary-color;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

// periphery buttons    
.periphery-buttons {
  // border: 1px solid yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  position: absolute;
  top: 30px;
  right: 20px;
}

// main container
.interactive-container {
  // border: 2px solid blue;
  width: fit-content;
  margin: auto;
}

// tab section
.tabContainer {
  // border: 2px solid red;  
  display: flex;
  gap: 20px;
  width: fit-content;
  padding: 1rem;
  text-align: center;
  overflow: hidden;
  
  button {
    // border: 3px solid goldenrod;
    transition: background-color 0.4s ease, border-color 0.3s ease;
    height: 30px;
    padding: .5rem;
    background-color: $secondary-color;
    border-radius: 5px;
    
    &:active,
    &:focus {
      background-color: $accent-color;
    }
    
    &:hover {
      transform: translateY(3px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
  }
}

// main information container
.informationContainer {
  border: 5px solid $border-color;
  border-radius: 20px;
  background-image: url('../assets/book.png');
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1250px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

// modal styling
#message {
  // border: 2px solid purple;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 410px;
  height: 600px;
  font-family: $font-family-main;
  color: $primary-color;
  line-height: 2.0;
  text-align: center;
  
  h1 {
    margin: 0;
  }
}
    
#close-modal-button {
  background-color: $secondary-color;
  border-radius: 10px;
  cursor: pointer;
}

// visuals section
.visualSection {
  // border: 2px solid blue;
  width: 500px;
  height: 590px;
  border-radius: 10px;
  padding: 10px;
  overflow: auto;
}
    
#visualContainer {
  // border: 1px solid black;
  display: flex; 
  justify-content: center;
  align-items: center; 
}

// data/api section    
.dataSection {
  // border: 1px solid black;
  width: 500px;
  height: 630px;
  margin-top: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: $font-family-main;
  color: $primary-color;
  line-height: 1.5;
  overflow: auto;
}

// button styles
%button-style {
  border: 1px solid $border-color;
  border-radius: 10px;
  padding: 10px;
  margin: 0;
  background-color: $secondary-color;
  color: $primary-color;
}

.name, .title {
  @extend %button-style;
}

// layouts for different sections
%grid-layout {
  display: grid;
  list-style: none;
  text-align: center;
}

// race section
.raceNames {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  list-style: none;
  text-align: center;
  
  > div {
    height: 300px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.race-image {
  width: 300px;
  height: auto;
}

// class section
.classTitles {
  @extend %grid-layout;
  margin-top: 20px;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  
  > div {
    height: 50px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
}

.class-image {
  width: 50px;
  height: auto;
}

// background section
.backgroundTitles {
  // border: 1px solid black;
  @extend %grid-layout;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 0;
  
  > div {
    height: 70px;
    width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
}

.background-image {
  width: 40px;
  height: auto;
}

// feat section
.featTitles {
  // border: 1px solid black;
  @extend %grid-layout;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 0;
}

// weapon section
.weaponNames {
  @extend %grid-layout;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 0;
}

// item section
.itemNames {
  @extend %grid-layout;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  padding: 0;
}