body {
    background: url('/assets/forest_background.png');  
    background-size: cover;
}

    .applicationContainer{
        width: auto;
        height: auto;

        // border: 1px solid purple;
    }
    
    .informationContainer {
        border-radius: 20px;
        background-image: url(/assets/book.png);
        background-size: cover;
        
        background-position: center;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1250px;
        display: flex;
        flex-direction: row;
        box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
        // border: 1px solid purple;
    }

    .tab_container {
        margin-left: 80px;
        margin-right: auto;
        text-align: center;
        width: 550px;
        padding: 5px;
        // border: 1px solid purple;
        // border: 1px solid black

    }

    button{
        cursor: url(/assets/sword_pointer.png), auto;    
        font-family: monospace;
        
    }

    #audio-button{
        position: absolute;
        top: 10px;
        right: 20px;
        border: 1px solid white;
        border-radius: 30px;
        width: fit-content;
        background-color: aliceblue;
        text-align: center;
    }

    .tab_container 
        button:active,
        button:focus{
            background-color: darkgray;
    }

    .visualSection{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 600px;
        height: 620px;
        // border: 1px solid black;
        border-radius: 10px;
        // box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
        padding: 10px;
        // margin: ;
        overflow: auto;
        // background-color: rgba(20, 82, 70, 0.8);
    }

    .dataSection{
        width: 500px;
        height: 660px;

        // border: 1px solid black;
        border-radius: 10px;
        box-sizing: border-box;
        // box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
        
        
        // padding: 20px;
        // margin: 10px;
        // background-color: rgba(237, 196, 92, 0.8);
        // filter: alpha(opacity=80);
        // opacity: 0.8;
        overflow: auto;
    }

    #title {
        // border: 1px solid purple;
        // background-image: url(/assets/banner.png);
        background-size: cover;
        width: 430px;
        font-family: monospace;
        text-align: center;
        color: antiquewhite;
        // margin: 20px;
        margin-left: 105px;
        margin-right: auto;
        
    }

    .raceNames{
        display: grid;
        // border: 1px solid black;
        grid-template-columns: repeat(2, 1fr);
        gap: 70px;
        list-style: none;
        text-align: center;
        padding: 0;
    }

    .raceNames > li{
        opacity: 1;
        background-color: #b38a5c;
    }

    .name{
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px;
        margin: 0;
        background-color: #b38a5c;
    }

    .classTitles{
        display: grid;
        // border: 1px solid black;
        grid-template-columns: repeat(3, 1fr);
        gap: 70px;
        list-style: none;
        text-align: center;
        padding: 0;
    }

    .classTitles > li{
        opacity: 1;
        background-color: #b38a5c(255, 255, 255, 1);
    }

    .title{
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px;
        margin: 0;
        background-color: #b38a5c;
    }

    .backgroundTitles{
        display: grid;
        // border: 1px solid black;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        list-style: none;
        text-align: center;
        padding: 0;
    }

    .backgroundTitles > li{
          opacity: 1;
          background-color: rgba(255, 255, 255, 1);
    }

    .featTitles {
        display: grid;
        // border: 1px solid black;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        list-style: none;
        text-align: center;
        padding: 0;
    }

    .featTitles > li{
        opacity: 1;
        background-color: rgba(255, 255, 255, 1);
    }

    .weaponNames{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        list-style: none;
        text-align: center;
        padding: 0;
    }

    .weaponNames > li{
        opacity: 1;
        background-color: rgba(255, 255, 255, 1);
    }

    .itemNames{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        list-style: none;
        text-align: center;
        padding: 0;
    }

    .itemNames > li {
        opacity: 1;
        background-color: rgba(255, 255, 255, 1);
    }


